@model string
@{ 
    ViewBag.Title = "404 Error";
}

<div class="jumbotron my-5">
    <h1 class="display-4 text-danger">404 Not Found Error</h1>
    <p class="lead">
        Student with <span class="text-info">CIN = @Model</span> cannot be found

    </p>
    <hr class="my-4" />
    <a asp-controller="Student" asp-action="List">Back to home page </a>

</div>