@model Student

@{
    
    ViewBag.Title = "ManageStudent  | Add";
}


<p class="alert alert-info my-4 text-center"> Add New Student </p>

<form  class="mx-lg-auto w-50" asp-action="AddStudent" asp-controller="Student" method="post">
    <div class="form-group">
        <label asp-for="CIN"></label>
        <input type="text" class="form-control" asp-for="CIN" >
        <span asp-validation-for="CIN" class="small text-danger" ></span>
    </div>
    <div class="form-group">
        <label asp-for="Prenom"></label>
        <input type="text" class="form-control" asp-for="Prenom">
        <span asp-validation-for="Prenom" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Nom"></label>
        <input type="text" class="form-control" asp-for="Nom">
        <span asp-validation-for="Nom" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Adresse"></label>
        <input type="text" class="form-control" asp-for="Adresse">
    </div>
    <div class="form-group">
        <label asp-for="Filiere"></label>
        <select class="form-control custom-select"
                asp-for="Filiere"
                asp-items="Html.GetEnumSelectList<Filiere>()">
            <option value="">Choisir Filiére ...</option>
        </select>
        <span asp-validation-for="Filiere" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <input type="checkbox" class="form-check-input" asp-for="IsActive" >
        <label class="form-check-label" asp-for="IsActive"></label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>