@model IEnumerable<Student>

@{

    ViewBag.Title = "ManageStudent  | Welcome";

}

<div class="my-5 text-center">
    <h2> Owr Students</h2>
</div>

<div class="row my-5 ">
    @foreach (Student student in Model)
    {
        <div class="col-12 col-md-4 mb-2 col-lg-4 ">
            <div class="card" style="width: 15rem; margin:auto">
                <img class="card-img-top" src="~/images/z.jpg" alt="Student photo">
                <div class="card-body text-center">
                    <h5 class="card-title">@student.Nom @student.Prenom</h5>
                    <p class="card-text">@student.Filiere</p>
                    <p class="card-text">@student.Adresse</p>
                </div>
            </div>
        </div>
    }
    </div>